<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>156641002789-jmvlb6g3rr2t7ec04on0asf9k7qov7q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156641002789-jmvlb6g3rr2t7ec04on0asf9k7qov7q0</string>
	<key>API_KEY</key>
	<string>AIzaSyCRattuGGHGdYOJR0zpfFCR-nRPln4DarA</string>
	<key>GCM_SENDER_ID</key>
	<string>156641002789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kreatimont.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>trips-325ba</string>
	<key>STORAGE_BUCKET</key>
	<string>trips-325ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:156641002789:ios:f90199d774165c8a</string>
	<key>DATABASE_URL</key>
	<string>https://trips-325ba.firebaseio.com</string>
</dict>
</plist>